footer {
    background-color: $text-color;
    padding: 40px 0;
    color: #fff;
    min-height: 200px;
    hr {
        display: block;
        background: #595959;
        width: 100%;
    }
    .copyright {
        color: #B3B3B3;
        font-size: 14px;
        padding-top: 10px;
        font-weight: 400;
    }
    .legal {
        a {
            color: #B3B3B3;
            padding-left: 15px;
            padding-top: 10px;
            font-size: 14px;
            font-weight: 400;
        }
    }
}