* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
h1,
h2,
h3,
h4,
h5,
p,
span,
label,
li {
    font-family: 'Montserrat', sans-serif;
}

.section-padding {
    padding: 40px 0;
}

span,
p {
    font-weight: 400;
}

header {
    transition: .5s all;
}