body {
    background: #f9f9f9;
    color: #000;
}

header {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    left: 0;
}

.fz-banner {
    background: url(../img/bg.png) center center/cover no-repeat fixed;
    min-height: 100vh;
    width: 100%;
    position: relative;
    .fz-fade {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .3);
        width: 100%;
        height: 100%;
    }
    &__contents {
        padding-top: 270px;
        color: #fff;
        text-align: center;
        h4 {
            font-size: 36px;
            margin-bottom: 0;
            span {
                color: $primary-color;
            }
        }
        h1 {
            font-size: 56px;
            font-weight: 700;
        }
        p {
            font-size: 18px;
        }
    }
}

.top-nav {
    .nav-list {
        border-bottom: .5px solid #767676;
        padding-bottom: 15px;
    }
    .top-info__list {
        span {
            color: $white;
            font-size: 14px;
            margin-right: 15px;
        }
    }
}

.bg-light {
    background: transparent !important;
    margin-top: 15px;
    ul {
        li {
            a {
                color: #fff !important;
                padding-left: 40px !important;
                font-weight: 400;
            }
        }
    }
    .search {
        img {
            position: absolute;
            right: -20px;
        }
    }
}

.fz-btn {
    background-color: $primary-color;
    padding: 20px 30px;
    border-radius: 500rem;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    &:hover {
        background: #fff;
        transition: .5s all;
        color: $primary-color;
    }
}

.fz-why {
    &__content {
        background: #F3F3F3;
        position: relative;
        top: -160px;
        border-radius: 4px;
        text-align: center;
        padding: 40px;
        min-height: 500px;
        h1 {
            font-weight: 600;
        }
        p {
            width: 80%;
            margin: auto;
        }
        .why-card {
            margin-top: 30px;
            figure {
                width: 375px;
                height: 400px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
                .img-fade {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(transparent 60%, #000);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                fig-caption {
                    position: relative;
                    bottom: 60px;
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }
}

.fz-meet {
    margin-top: -120px;
    h1 {
        font-weight: 600;
    }
    img {
        width: 305px;
        height: 305px;
    }
    figure {
        position: relative;
        width: 305px;
        height: 305px;
        fig-caption {
            background: linear-gradient(#00000021 50%, #151515);
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            height: 100%;
            width: 100%;
            color: #fff;
            // display: flex;
            // justify-content: center;
            // align-items: flex-end;
            // padding-bottom: 60px;
            border-radius: 4px;
            cursor: pointer;
            opacity: 0;
            transition: 0.5s all;
            h5 {
                padding-top: 200px;
                margin-bottom: 0;
            }
        }
        &:hover {
            fig-caption {
                opacity: 1;
                transition: 0.5s all;
                transform: scale(0.89);
            }
        }
    }
}

.fz-service {
    margin-top: 70px;
    position: relative;
    ul {
        li {
            position: relative;
            padding-left: 40px;
            padding-bottom: 25px;
            font-weight: 500;
            font-size: 15px;
            &:before {
                content: url(../img/tick.svg);
                position: absolute;
                left: 0;
            }
        }
    }
    .service-bg {
        img {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            height: 450px;
        }
        &::before {
            content: '';
            width: 38%;
            height: 200px;
            background-color: $primary-color;
            position: absolute;
            z-index: 1;
            top: -30px;
            right: 0;
        }
    }
}

.fz-tellus {
    background: url('../img/tell.png');
    min-height: 270px;
    color: $white;
    padding: 50px;
    margin-top: 120px;
    h4 {
        font-weight: 600;
    }
    .fz-btn {
        letter-spacing: 0px;
        padding: 15px 40px;
    }
}