@media(max-width:992px) {
    .fz-banner {
        min-height: 680px;
    }
    .fz-why__content .why-card figure {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .fz-meet figure {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }
    .fz-why__content {
        top: 0;
    }
    .why-card .col-sm-4,
    .meet-card .col-sm-6 {
        margin-bottom: 30px;
    }
    .fz-meet {
        margin-top: 40px;
    }
    .fz-meet img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .fz-service .service-bg img {
        position: relative;
        width: 100%;
    }
    .fz-service .service-bg::before {
        display: none;
    }
    .fz-tellus {
        margin-top: 30px;
    }
    .legal ul {
        float: left !important;
    }
    .footer-logo img {
        padding-bottom: 15px;
    }
}

@media(max-width:576px) {
    .top-info__list {
        display: block !important;
    }
    .social-links {
        display: flex !important;
        float: left !important;
    }
}