@import "./variables";
@import "./header";
@import "./footer";
@import "./index";
a {
    text-decoration: none !important;
    font-weight: 200;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

@media(max-width:1920px) {
    .container {
        max-width: 1340px;
    }
}