@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
label,
li {
  font-family: 'Montserrat', sans-serif;
}

.section-padding {
  padding: 40px 0;
}

span,
p {
  font-weight: 400;
}

header {
  -webkit-transition: .5s all;
  transition: .5s all;
}

footer {
  background-color: #423D3D;
  padding: 40px 0;
  color: #fff;
  min-height: 200px;
}

footer hr {
  display: block;
  background: #595959;
  width: 100%;
}

footer .copyright {
  color: #B3B3B3;
  font-size: 14px;
  padding-top: 10px;
  font-weight: 400;
}

footer .legal a {
  color: #B3B3B3;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

body {
  background: #f9f9f9;
  color: #000;
}

header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  left: 0;
}

.fz-banner {
  background: url(../img/bg.png) center center/cover no-repeat fixed;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.fz-banner .fz-fade {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.fz-banner__contents {
  padding-top: 270px;
  color: #fff;
  text-align: center;
}

.fz-banner__contents h4 {
  font-size: 36px;
  margin-bottom: 0;
}

.fz-banner__contents h4 span {
  color: #0380B5;
}

.fz-banner__contents h1 {
  font-size: 56px;
  font-weight: 700;
}

.fz-banner__contents p {
  font-size: 18px;
}

.top-nav .nav-list {
  border-bottom: .5px solid #767676;
  padding-bottom: 15px;
}

.top-nav .top-info__list span {
  color: #fff;
  font-size: 14px;
  margin-right: 15px;
}

.bg-light {
  background: transparent !important;
  margin-top: 15px;
}

.bg-light ul li a {
  color: #fff !important;
  padding-left: 40px !important;
  font-weight: 400;
}

.bg-light .search img {
  position: absolute;
  right: -20px;
}

.fz-btn {
  background-color: #0380B5;
  padding: 20px 30px;
  border-radius: 500rem;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
}

.fz-btn:hover {
  background: #fff;
  -webkit-transition: .5s all;
  transition: .5s all;
  color: #0380B5;
}

.fz-why__content {
  background: #F3F3F3;
  position: relative;
  top: -160px;
  border-radius: 4px;
  text-align: center;
  padding: 40px;
  min-height: 500px;
}

.fz-why__content h1 {
  font-weight: 600;
}

.fz-why__content p {
  width: 80%;
  margin: auto;
}

.fz-why__content .why-card {
  margin-top: 30px;
}

.fz-why__content .why-card figure {
  width: 375px;
  height: 400px;
  position: relative;
}

.fz-why__content .why-card figure img {
  width: 100%;
  height: 100%;
}

.fz-why__content .why-card figure .img-fade {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), to(#000));
  background: linear-gradient(transparent 60%, #000);
  position: absolute;
  top: 0;
  left: 0;
}

.fz-why__content .why-card figure fig-caption {
  position: relative;
  bottom: 60px;
  color: #fff;
  font-size: 18px;
}

.fz-meet {
  margin-top: -120px;
}

.fz-meet h1 {
  font-weight: 600;
}

.fz-meet img {
  width: 305px;
  height: 305px;
}

.fz-meet figure {
  position: relative;
  width: 305px;
  height: 305px;
}

.fz-meet figure fig-caption {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #00000021), to(#151515));
  background: linear-gradient(#00000021 50%, #151515);
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.fz-meet figure fig-caption h5 {
  padding-top: 200px;
  margin-bottom: 0;
}

.fz-meet figure:hover fig-caption {
  opacity: 1;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: scale(0.89);
          transform: scale(0.89);
}

.fz-service {
  margin-top: 70px;
  position: relative;
}

.fz-service ul li {
  position: relative;
  padding-left: 40px;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 15px;
}

.fz-service ul li:before {
  content: url(../img/tick.svg);
  position: absolute;
  left: 0;
}

.fz-service .service-bg img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  height: 450px;
}

.fz-service .service-bg::before {
  content: '';
  width: 38%;
  height: 200px;
  background-color: #0380B5;
  position: absolute;
  z-index: 1;
  top: -30px;
  right: 0;
}

.fz-tellus {
  background: url("../img/tell.png");
  min-height: 270px;
  color: #fff;
  padding: 50px;
  margin-top: 120px;
}

.fz-tellus h4 {
  font-weight: 600;
}

.fz-tellus .fz-btn {
  letter-spacing: 0px;
  padding: 15px 40px;
}

a {
  text-decoration: none !important;
  font-weight: 200;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1340px;
  }
}
/*# sourceMappingURL=style.css.map */